<div id="<%= dom_id presentation %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Emails:</strong>
    <%= presentation.emails %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>


</div>
