.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.navbar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
}

.button {
    text-decoration: none;
    font-size: medium;
}

h3 {
    letter-spacing: 1px;
    color:#164061;
    text-shadow: 1px 1px 2px white, 0 0 5px #60849d, 0 0 5px #164061;
}